name: Test APWorld
on:
  push:
    branches: '**'
  pull_request:
    branches: '**'


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@main
        with:
          apworld-path: worlds/wordipelago
          ap-version: '0.6.1'
          python-version: '3.12'
